a:hover {
    background-color: #CED8F6;
}

.shoptitle {
    font-family: 'Teko', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.begrüßung h1 {
    color: #0B3861;
}

.einleitung p {
    font-size: 20px;
}

.einleitung a {
    font-weight: bold;
}

body {
    margin: 0;
    text-align: center;
}

.logo-nav a {
    justify-self: end;
    font-size: 2rem;
}

.logo-nav a img {
    height: 100%;
}

.cart-icon {
    margin-left: 10px;
    height: 100%;
}

.logo-nav {
    justify-content: space-between;
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    
}

.suchfunktion {
    display: flex;
    height: 100%;
    align-items: center;
}

.search {
    height: 50%;
}

.nav-kategorien {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
}

.nav-width {
    width: 100%;
    background-color: #CED8F6;
}

.nav-kategorien a:hover {
    background-color: white;
}

.nav-kategorien a {
    height: 100%;
}

.bild-breite img {
    width: 50%;
}

.produkt-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
}

.banner-size img{
    margin-bottom: 70px;
    width: 100%;
    height: 50vh;
    object-fit: cover
    
}

.wikieintrag a{
    font-size: 10px;
    color: blue;
}

#alpaka-Kauf{
    font-size: 20px;
    margin-top: 0px;

}



/* Artikel Beschreibung, Preis, Namen, Kaufbutton */

.produkt p{
    position: absolute;
    bottom: 5%;
    color: red;
    left: 5%;
    font-size: 20px;
    padding: 1%;
    background-color: white;
    border-radius: 5px;
    margin: 0px;
    width: 88%;

}

.produkt{
    position: relative;
    width: 30%;
    height: 50vh;
    margin-bottom: 40px;
    
}

.produkt img{
    object-fit: cover;  
    height: 100%;
    width: 100%;
}